<div class="col">
  <p class="mb-3">
    <%= image_tag("delivery_card_index_logo.svg", class: "img-fluid") %>
    <span class="float-end">
      <span class="float-right">
        <%= link_to new_delivery_card_path, "data-controller": "turbo", class: "btn btn-sm btn-primary shadow" do %>
          <i class="fa-solid fa-address-card"></i>
          &nbsp;
          <i class="fa-solid fa-plus"></i>
          &nbsp;
          Inserisci una Nuova Tipologia Consegna
        <% end %>
      </span>
    </p>
    <hr class="hr-primary"/>
    <% @delivery_cards.each do |delivery_card| %>
      <div class="card m-2 shadow border-light">
        <div class="card-body card-body-animated">
          <%= delivery_card.position %>
          &emsp;
          <%= delivery_card.name %>
          <span class="float-end">
            <%= link_to edit_delivery_card_path(delivery_card), "data-controller": "turbo" , 
            "data-bs-toggle": "tooltip", 
            "title": "Modifica il Record Corrente" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            &emsp;
            <%= link_to delivery_card_path(delivery_card),
            "data-turbo-method": :delete,
            "data-turbo-confirm": "Sicuri di voler eliminare il record corrente?" , 
            "data-bs-toggle": "tooltip", 
            "title": "Elimina il Record Corrente" do%>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <br>
    <%= paginate @delivery_cards %>
  </div>
