<div class="col">
  <p class="mb-3">
    <%= image_tag("private_sector_index_logo.png", class: "img-fluid") %>
    <span class="float-end">
      <span class="float-right">
        <%= link_to new_private_sector_path, "data-controller": "turbo", class: "btn btn-sm btn-primary shadow" do %>
          <i class="fa-regular fa-building"></i>
          &nbsp;
          <i class="fa-solid fa-plus"></i>
          &nbsp;
          Inserisci un Nuovo Settore Privato
        <% end %>
      </span>
    </p>
    <hr class="hr-primary"/>
    <% @private_sectors.each do |private_sector| %>
      <div class="card m-2 shadow border-light">
        <div class="card-body card-body-animated">
          <%= private_sector.position %>
          &emsp;
          <%= private_sector.name %>
          <span class="float-end">
            <%= link_to edit_private_sector_path(private_sector), "data-controller": "turbo" , 
            "data-bs-toggle": "tooltip", 
            "title": "Modifica il Record Corrente" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            &emsp;
            <%= link_to private_sector_path(private_sector),
            "data-turbo-method": :delete,
            "data-turbo-confirm": "Sicuri di voler eliminare il record corrente?" , 
            "data-bs-toggle": "tooltip", 
            "title": "Elimina il Record Corrente" do%>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <br>
    <%= paginate @private_sectors %>
  </div>
