<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <%= stylesheet_link_tag wicked_pdf_asset_base64("print.scss") %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <%= wicked_pdf_image_tag "pdf_sunia_logo.png",size: "605x45" %>
          <hr/>
          <br/>
          <br/>
          <span class="span-left">
            data sottoscrizione:
            &emsp;
            <strong>
              <%= l(@subscriber.subscription_date) %>
            </strong>
            &emsp;
            numero ricevuta:
            &emsp;
            <strong>
              <%= @subscriber.id %>
            </strong>
          </span>
          <span class="span-right">
            codice sottoscrittore:
            &emsp;
            <strong>
              <%= @subscriber.code %>
            </strong>
          </span>
          <br/>
          &emsp;
          <br/>
          &emsp;
          <!-- TABLE -->
          <table class="pdf">
            <tbody>
              <tr>
                <td>Nome:</td>
                <td><strong><%= @subscriber.first_name %></strong></td>
                <td>Cognome:</td>
                <td><strong><%= @subscriber.last_name %></strong></td>
              </tr>
              <tr>
                <td>Codice Fiscale:</td>
                <td><strong><%= @subscriber.fiscal_code %></strong></td>
                <td>Sesso:</td>
                <td><strong><%= @subscriber.sex.name %></strong></td>
              </tr>
              <tr>
                <td>Data di Nascita:</td>
                <td><strong><%= l(@subscriber.birth_date) %></strong></td>
                <td>Luogo di Nascita:</td>
                <td><strong><%= @subscriber.birth_place %></strong></td>
              </tr>
              <tr>
                <td>Nazionalit&agrave;:</td>
                <td><strong><%= @subscriber.nationality %></strong></td>
                <td>Cittadinanza:</td>
                <td><strong><%= @subscriber.citizenship %></strong></td>
              </tr>
            </tr>
            <tr>
              <td>Indirizzo:</td>
              <td><strong><%= @subscriber.address %></strong></td>
              <td>Civico:</td>
              <td><strong><%= @subscriber.house_number %></strong></td>
            </tr>
            <tr>
              <td>C.A.P.:</td>
              <td><strong><%= @subscriber.zip %></strong></td>
              <td>Comune:</td>
              <td><strong><%= @subscriber.city %></strong></td>
            </tr>
            <tr>
              <td>Provincia:</td>
              <td><strong><%= @subscriber.province %></strong></td>
            </tr>
          </tr>
          <tr>
            <td>Telefono:</td>
            <td><strong><%= @subscriber.phone %></strong></td>
            <td>Cellulare:</td>
            <td><strong><%= @subscriber.mobile %></strong></td>
          </tr>
          <tr>
            <td>E-Mail:</td>
            <td><strong><%= @subscriber.email %></strong></td>
          </tr>
        </tr>
        <tr>
          <td>Occupazione:</td>
          <td><strong><%= @subscriber.occupation.name if @subscriber.occupation_id.present? %></strong></td>
          <td>Categoria:</td>
          <td><strong><%= @subscriber.category.name if @subscriber.category_id.present? %></strong></td>
        </tr>
        <tr>
          <td>Motivo Sottoscrizione:</td>
          <td><strong><%= @subscriber.subscription_reason.name if @subscriber.subscription_reason_id.present? %></strong></td>
          <td>Tipo Sottoscrizione:</td>
          <td><strong><%= @subscriber.subscription_type.name if @subscriber.subscription_type_id.present? %></strong></td>
          <td>Tessera Consegnata:</td>
          <td><strong><%= @subscriber.delivery_card.name if @subscriber.delivery_card_id.present? %></strong></td>
        </tr>
      </tbody>
    </table>
    <br/>
    <span class="span-right">
      Ha versaro alla Categoria:
      &emsp;
      <strong></strong>
      &emsp;
      <strong>
        <%= number_to_currency(@subscriber.amount) %>
      </strong>
    </span>
    <br/>
    <br/>
    <br/>
    <small>
      Sottoscrizione raccolta da:
      &nbsp;
      <%= @subscriber.operator.institute %>
      &nbsp;
      <%= @subscriber.operator.office %>
      &nbsp;
      operatore:
      <%= @subscriber.operator.first_name %>
      &nbsp;
      <%= @subscriber.operator.last_name %>
    </small>
  </div>
</div>
<br/>
<hr/>
<br/>
<div class="row">
  <div class="col">
    1. Io sottoscritto, letta l’informativa che precede e consapevole che il trattamento dei dati comuni nell’ambito del sindacato non richiede il consenso dell’interessato, 
    <br/>
    <br/>
    presto il mio consenso
    &emsp;
    <% unless @subscriber.privacy_first.name == "NO" %>
      <%= wicked_pdf_image_tag "privacy_yes.png",size: "16x16" %>
    <% else %>
      <%= wicked_pdf_image_tag "privacy_no.png",size: "16x16" %>
    <% end %>
    &emsp;&emsp;
    nego il mio consenso
    &emsp;
    <% unless @subscriber.privacy_first.name == "SI" %>
      <%= wicked_pdf_image_tag "privacy_yes.png",size: "16x16" %>
    <% else %>
      <%= wicked_pdf_image_tag "privacy_no.png",size: "16x16" %>
    <% end %>
    <br/>
    <br/>
    al trattamento e alla comunicazione dei miei dati particolari ai soggetti indicati nell’informativa nei limiti in cui il trattamento e la comunicazione sia essenziale per l’adempimento degli scopi statutari, del contratto associativo e/o dell’eventuale incarico conferito, nonché degli obblighi stabiliti dalla normativa vigente.
    <br/>
    <br/>
    2. In relazione alla predetta informativa, prendendo atto che la prestazione del consenso per attività estranee alla tutela del consumatore o dell’associato non è obbligatoria e che, in caso di rifiuto, non riceverei alcun pregiudizio,
    <br/>
    <br/>
    presto il mio consenso
    &emsp;
    <% unless @subscriber.privacy_second.name == "NO" %>
      <%= wicked_pdf_image_tag "privacy_yes.png",size: "16x16" %>
    <% else %>
      <%= wicked_pdf_image_tag "privacy_no.png",size: "16x16" %>
    <% end %>
    &emsp;&emsp;
    nego il mio consenso
    &emsp;
    <% unless @subscriber.privacy_second.name == "SI" %>
      <%= wicked_pdf_image_tag "privacy_yes.png",size: "16x16" %>
    <% else %>
      <%= wicked_pdf_image_tag "privacy_no.png",size: "16x16" %>
    <% end %>
    <br/>
    <br/>
    al trattamento dei miei dati per finalità di informativa promozionale e/o istituzionale da parte di Sunia e dei co-titolari del trattamento come individuati nell’informativa, anche a mezzo di strumenti tecnologici avanzati quali fax, Email, PEC, SMS, MMS e altri strumenti di comunicazione avanzati (WhatsApp, Telegram, ecc.).
    <br/>
    <br/>
    presto il mio consenso
    &emsp;
    <% unless @subscriber.privacy_third.name == "NO" %>
      <%= wicked_pdf_image_tag "privacy_yes.png",size: "16x16" %>
    <% else %>
      <%= wicked_pdf_image_tag "privacy_no.png",size: "16x16" %>
    <% end %>
    &emsp;&emsp;
    nego il mio consenso
    &emsp;
    <% unless @subscriber.privacy_third.name == "SI" %>
      <%= wicked_pdf_image_tag "privacy_yes.png",size: "16x16" %>
    <% else %>
      <%= wicked_pdf_image_tag "privacy_no.png",size: "16x16" %>
    <% end %>
    <br/>
    <br/>
    alla comunicazione e al successivo trattamento dei miei dati personali comuni e particolari alla CGIL, al Patronato INCA, ai CAAF CGIL Srl costituiti dalla CGIL, all’AUSER e alla FEDERCONSUMATORI e, comunque, agli enti ed alle persone giuridiche con o senza scopo di lucro delle quali l’associazione si avvale per il perseguimento dei propri scopi statutari o, comunque, con essa convenzionate od affiliate, o da essa costituiti e/o promossi, ivi compresi i professionisti legali, fiscali e/o contabili incaricati di tutelarmi in sede amministrativa e/o giurisdizionale, anche affinché tali soggetti possano trattare tali dati per informazioni sui loro servizi di assistenza e tutela a mezzo posta cartacea e di strumenti tecnologici avanzati quali FAX, SMS, MMS e EMAIL.
    <br/>
    <br/>
    <br/>
    <span class="span-right">
      Firma del sottoscrittore:
      &emsp;
      _________________________________
    </span>
    <p style="page-break-after: always;">&nbsp;</p>
    <p style="page-break-before: always;">&nbsp;</p>
    Egregio Sig.ra/Sig.,
    <br/>
    in ottemperanza agli obblighi di cui all’art. 13 del Regolamento UE 2016/679 il  Sindacato Unitario Nazionale Inquilini e Assegnatari (di seguito anche “Sunia”, “titolare” o “associazione”) con la presente intende fornirLe ogni informazione utile per farLe comprendere le ragioni per le quali procede al trattamento dei suoi dati personali, sia per evidenziarLe le diverse possibilità riconosciute per intervenire sullo stesso affinché non subisca una lesione alle libertà fondamentali, che devono essere contemperate con l’esplicazione della libertà associativa.
    <br/>
    <br/>
    <strong>1.&emsp;Finalità, modalità e base giuridica del trattamento dei dati personali.</strong>
    <br/>
    Sunia procederà al trattamento dei suoi dati personali (anche, in taluni casi, di quelli “particolari”, ovvero di quelli relativi all'origine razziale o etnica, alle opinioni politiche, alle convinzioni religiose o filosofiche, all’appartenenza sindacale, alla salute, alla vita e orientamento sessuale, nonché, nel caso, i genetici e biometrici) per l’adempimento degli scopi statutari e, quindi, allo scopo di eseguire il contratto associativo o, comunque, per adempiere all’incarico ricevuto per la richiesta di tutela e assistenza, nei limiti delle norme legislative e regolamentari in materia, compresi gli adempimenti per l’attestazione di rispondenza del contratto di locazione ai sensi art. 1 comma 8,2 comma 8 e 3 comma 5  DM Infrastrutture  e trasporti 16 gennaio 2017. I dati verranno trattati anche per finalità fiscali, contabili ed assicurative.
    Il trattamento viene pertanto svolto per l’adempimento del contratto associativo o di altro contratto (es. mandato) del quale Lei è parte o, laddove abbia ad oggetto dati particolari, sulla base del suo espresso consenso, che potrà essere revocato in qualsiasi momento.
    <br/>
    <br/>
    <strong>2.&emsp;Natura del conferimento dei dati e durata del trattamento.</strong>
    <br/>
    Il conferimento dei dati richiesti è assolutamente facoltativo. Qualora l’interessato rifiuti di conferire i dati anagrafici sarebbe impossibile perfezionare l’iscrizione all’associazione e/o il conferimento di qualsivoglia tipologia di incarico; laddove, invece, rifiuti di fornire altri dati non essenziali per l’iscrizione o per l’attività, potrebbe essere impossibile o particolarmente difficoltoso garantire all’iscritto il corretto perseguimento delle finalità associative, statutarie e/o istituzionali. 
    I dati saranno comunque trattati per il tempo strettamente necessario all’adempimento delle predette finalità statutarie ed associative (normalmente coincidente con il periodo di iscrizione dell’interessato a Sunia) e, comunque, per i trattamenti subordinati al consenso, sino a quando l’interessato non lo revocherà.
    I dati, tuttavia, laddove trattati esclusivamente per l’attività associativa, verranno cancellati decorsi dieci anni dalla risoluzione del rapporto associativo, mentre, se trattati per lo svolgimento delle finalità previste dal consenso eventualmente prestato, verranno cancellati decorsi sei mesi dall’esercizio del diritto di revoca del consenso. 
    <br/>
    <br/>
    <strong>3.&emsp;Ambito di comunicazione e diffusione dei dati.</strong>
    <br/>
    Al fine di adempiere correttamente agli scopi statutari ed associativi, o comunque per il perseguimento dell’incarico, i Suoi dati potrebbero essere trasmessi e comunicati ad altri soggetti quali, in particolare, organismi ed enti pubblici o privati ai quali la comunicazione sia necessaria per tali scopi (es. Agenzia delle Entrate, enti locali, autorità di p.s., autorità giudiziaria), e, in particolare, ai soggetti contro i quali ritiene di dover essere tutelato (es. proprietario o titolare di diritto reale dell’immobile).
    I Suoi dati personali saranno inoltre resi noti a tutti i soggetti, siano essi persone fisiche o giuridiche, espressamente autorizzate al trattamento o designate quali responsabili del trattamento, come tali tenuti agli stessi obblighi di riservatezza che competono all’associazione e, comunque, espressamente istruiti sull’osservanza delle norme di sicurezza. 
    I suoi dati personali saranno inoltre essere resi noti agli altri co-titolari del trattamento quali il Sunia nazionale, regionali e territoriali.
    I suoi dati personali non saranno in nessun caso diffusi né trasferiti verso Paesi terzi.
    <br/>
    <br/>
    <strong>4.&emsp;Diritti riconosciuti </strong>
    <br/>
    Sunia Le assicura l’esercizio dei diritti previsti dalla normativa vigente quali, in particolare, il diritto di accesso e, nei casi previsti, di rettifica, cancellazione e portabilità dei dati. Lei gode altresì del diritto di chiedere la limitazione del trattamento, opporsi allo stesso e/o revocare il consenso sul quale il trattamento si fondi, fermo restando la legittimità del trattamento effettuato prima della revoca stessa.
    La legge attribuisce inoltre all’interessato il potere di proporre reclamo o segnalazione al Garante per la protezione dei dati, ovvero all’autorità di controllo dello Stato UE in cui risiede, in cui lavora o in cui è avvenuta la violazione. Per l’esercizio di tale facoltà l’interessato può reperire ogni informazione utile nel sito www.garanteprivacy.it.
    I predetti diritti possono essere esercitati direttamente presso Sunia, ai dati di contatto sotto indicati al punto 5, alle strutture territoriali del medesimo Sunia, che può reperire nel sito internet http://www.sunia.it/sedi-regionali/, oppure al Responsabile per la Protezione dei dati designato (privacy@sunia.it).
    <br/>
    <br/>
    <strong>5.&emsp;Titolare del trattamento. Data Protection Officer. </strong>
    <br/>
    Il Sunia, federazione territoriale di Pordenone con sede a Pordenone in Via:San valentino 30 Tel:0434/545111,
    <br/>
    e-mail:sunia.pordenone@fvg.cgil.it è il titolare del trattamento dei dati personali degli associati e dei soggetti che hanno contatti regolare con lo stesso E’ co-titolare del trattamento stesso il Sunia nazionale, con sede a Roma in Via Gioberti 54, Email: infp@sunia.it che ha designato il Responsabile per la Protezione dei Dati che potrà essere contattato tramite email all’indirizzo privacy@sunia.it.
  </div>
</div>
</div>
</body>
</html>
