<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" data-controller="modal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header mb-1">
          <div class="modal-title">
            <%= image_tag("landlord_index_logo.svg", class: "img-fluid") %>
          </div>
          <a class="btn btn-light modal-header-link" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
          </a>
        </div>
        <div class="modal-body m-1">
          <div class='row'>
            <div class="col">
              <div id="<%= dom_id @landlord %>" class="scaffold_record">
                <h5 class='text-dark'>
                  <small class='text-primary'>
                    <%= @landlord.code %>
                  </small>
                  &emsp;
                  <small>
                    <strong class='text-dark'>
                      <%= @landlord.first_name %>
                      &nbsp;
                      <%= @landlord.last_name %>
                    </strong>
                  </small>
                  &nbsp;
                  <span class='text-primary'>
                    <%= @landlord.fiscal_code %>
                    &nbsp;
                  </span>
                  <span>
                    &emsp;
                    <%= landlord_type_icon(@landlord) %>
                  </span>
                </h5>
              </div>
            </div>
          </div>
          <hr/>
          <div class='row'>
            <div class='col'>
              <table class='table'>
                <tbody>
                  <tr>
                    <td class="text-light">Indirizzo:</td>
                    <td>
                      <%= @landlord.address %>
                      <span class='float-end'>
                        <span class='text-light'>
                          Civico:
                        </span>
                        &emsp;
                        <%= @landlord.house_number %>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class='row'>
            <div class='col'>
              <table class='table'>
                <tbody>
                  <tr>
                    <td class="text-light">C.a.p.:</td>
                    <td>
                      <%= @landlord.zip %>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-light">Provincia:</td>
                    <td>
                      <%= @landlord.province %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class='col'>
              <table class='table'>
                <tbody>
                  <tr>
                    <td class="text-light">Comune:</td>
                    <td>
                      <%= @landlord.city %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class='row'>
            <div class='col'>
              <table class='table'>
                <tbody>
                  <tr>
                    <td class="text-light">Telefono:</td>
                    <td><%= @landlord.phone %></td>
                    <td class="text-light">Cellulare:</td>
                    <td><%= @landlord.mobile %></td>
                  </tr>
                  <tr>
                    <td class="text-light">E-Mail:</td>
                    <td><%= @landlord.email %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class='row'>
            <div class='col'>
              <br/>
              <%= image_tag("building_index_logo.svg", class: "img-fluid") %>
              <br/>
              <table class='table'>
                <thead>
                  <tr>
                    <td class="text-light">
                      Indirizzo:
                    </td>
                    <td class="text-light">
                      Civico:
                    </td>
                    <td class="text-light">
                      Cap:
                    </td>
                    <td class="text-light">
                      Comune:
                    </td>
                    <td class="text-light">
                      Provincia:
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <% @buildings.each do |building| %>
                    <tr>
                      <td>
                        <small>
                          <%= building.address %>
                        </small>
                      </td>
                      <td>
                        <small>
                          <%= building.house_number %>
                        </small>
                      </td>
                      <td>
                        <small>
                          <%= building.zip %>
                        </small>
                      </td>
                      <td>
                        <small>
                          <%= building.city %>
                        </small>
                      </td>
                      <td>
                        <small>
                          <%= building.province %>
                        </small>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<% end %>
