<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" data-controller="modal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header pb-1">
          <div class="modal-title">
            <%= image_tag("landlord_index_logo.png", size: '250x50', class: "img-fluid") %>
          </div>
          <a class="modal-header-link" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
          </a>
        </div>
        <div class="modal-body p-3">
          <div class='row mb-3'>
            <div class="col">
              <div class='card card-detail-secondary shadow'>
                <div id="<%= dom_id @landlord %>" class="scaffold_record">
                  <h5 class='text-dark'>
                    <small class='text-primary'>
                      <%= @landlord.code %>
                    </small>
                    &emsp;
                    <small class="text-primary">
                      <strong class='text-detail'>
                        <%= @landlord.first_name %>
                        &nbsp;
                        <%= @landlord.last_name %>
                      </strong>
                      &nbsp;
                      <span class='text-primary'>
                        <%= @landlord.fiscal_code %>
                        &nbsp;
                      </span>
                      &emsp;
                      <%= landlord_type_icon(@landlord) %>
                    </small>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class='row mb-2'>
            <div class='col'>
              <div class='card card-detail shadow'>
                <div class='row'>
                  <div class='col'>
                    Indirizzo:
                    &emsp;
                    <strong class="text-detail">
                      <%= @landlord.address %>
                    </strong>
                    <span class='float-end'>
                      Civico:
                      &emsp;
                      <strong class="text-detail">
                        <%= @landlord.house_number %>
                      </strong>
                    </span>
                  </div>
                </div>
                <hr class="hr-orange mt-2"/>
                <div class='row'>
                  <div class='col'>
                    Cap:
                    &emsp;
                    <strong class="text-detail">
                      <%= @landlord.zip %>
                    </strong>
                  </div>
                  <div class='col'>
                    Comune:
                    &emsp;
                    <strong class="text-detail">
                      <%= @landlord.city %>
                    </strong>
                  </div>
                  <div class='col'>
                    Provincia:
                    &emsp;
                    <strong class="text-detail">
                      <%= @landlord.province %>
                    </strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='row mb-2'>
            <div class='col'>
              <div class='card card-detail shadow'>
                <div class='row'>
                  <div class='col'>
                    Telefono:
                    &emsp;
                    <strong class="text-detail">
                      <%= @landlord.phone %>
                    </strong>
                  </div>
                  <div class='col'>
                    Cellulare:
                    &emsp;
                    <strong class="text-detail">
                      <%= @landlord.mobile %>
                    </strong>
                  </div>
                </div>
                <hr class="hr-orange mt-2"/>
                <div class='row'>
                  <div class='col'>
                    <div class='col'>
                      E-Mail:
                      &emsp;
                      <strong class="text-detail">
                        <%= @landlord.email %>
                      </strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='row mb-2'>
            <div class='col'>
              <div class='card card-detail-secondary shadow'>
                <div class='row'>
                  <div class='col'>
                    <%= image_tag("building_index_logo.png", size: '150x34', class: "img-fluid") %>
                    <br/>
                    <table class='table'>
                      <thead>
                        <tr>
                          <td class="text-primary">
                            Indirizzo:
                          </td>
                          <td class="text-primary">
                            Civico:
                          </td>
                          <td class="text-primary">
                            Cap:
                          </td>
                          <td class="text-primary">
                            Comune:
                          </td>
                          <td class="text-primary">
                            Provincia:
                          </td>
                        </tr>
                      </thead>
                      <tbody>
                        <% @buildings.each do |building| %>
                          <tr>
                            <td>
                              <small class="text-dark">
                                <%= building.address %>
                              </small>
                            </td>
                            <td>
                              <small class="text-dark">
                                <%= building.house_number %>
                              </small>
                            </td>
                            <td>
                              <small class="text-dark">
                                <%= building.zip %>
                              </small>
                            </td>
                            <td>
                              <small class="text-dark">
                                <%= building.city %>
                              </small>
                            </td>
                            <td>
                              <small class="text-dark">
                                <%= building.province %>
                              </small>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<% end %>
