<div class="col">
  <p class="mb-3">
    <%= image_tag("landlord_index_logo.svg", class: "img-fluid") %>
    <span class="float-end">
      <span class="float-right">
        <%= link_to new_landlord_path, "data-controller": "turbo", class: "btn btn-lg btn-primary shadow" do %>
          <i class="fa-solid fa-user-tie"></i>
          &nbsp;
          <i class="fa-solid fa-plus"></i>
          &nbsp;
          Inserisci un Nuovo Locatore
        <% end %>
      </span>
    </span>
  </p>
  <br/>
  <!-- SEARCH -->
  <%= render "search" %>
  <hr class="hr-primary"/>
  <% @landlords.each do |landlord| %>
    <div class="card m-2 shadow border-light">
      <div class="card-body card-body-animated">
        <%= link_to landlord_path(landlord), "data-controller": "turbo" do %>
          <i class="fa-solid fa-eye"></i>
        <% end %>
        &emsp;
        <%= landlord.code %>
        &emsp;
        <span class="text-dark">
          <%= landlord.first_name %>
        </span>
        &emsp;
        <span class="text-dark">
          <%= landlord.last_name %>
        </span>
        &emsp;
        <%= landlord.fiscal_code %>
        &emsp;
        |
        &emsp;
        <%= landlord.zip %>
        &nbsp;
        <%= landlord.city %>
        <span class="float-end">
          <%= link_to edit_landlord_path(landlord), "data-controller": "turbo" , 
            "data-bs-toggle": "tooltip", 
            "title": "Modifica il Record Corrente" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          &emsp;
          <%= link_to landlord_path(landlord),
            "data-turbo-method": :delete,
            "data-turbo-confirm": "Sicuri di voler eliminare il record corrente?" , 
            "data-bs-toggle": "tooltip", 
            "title": "Elimina il Record Corrente" do%>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <br>
  <%= paginate @landlords %>
</div>
